<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelKayıtProjesi.Properties.Settings.PersonelVeriTabaniConnectionString"
            connectionString="Data Source=.;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PersonelKayıtProjesi.Properties.Settings.PersonelVeriTabaniNewConnectionString"
            connectionString="Data Source=ASUS-ROG-ZEPHYR;Initial Catalog=PersonelVeriTabaniNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PersonelKayıtProjesi.Properties.Settings.PersonelVeriTabaniConnectionString1"
            connectionString="Data Source=DESKTOP-3HN2204\SQLEXPRESS;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>